<div class="row">
    <h3>Honors & Awards</h3>
    <div class="col">
        <ul>
            <li>(2023/10) Nankai University Gongneng Scholarship (the 2nd class)</li>
            <li>(2023/07) Scholarship from China Scholarship Council (CSC)</li>
            <li>(2022/10) China National Scholarship for Doctoral Students <span class="badge text-bg-success">2/122</span></li>
            <li>(2022/10) The First Prize Scholarship of Nankai University <span class="badge text-bg-success">10/122</span></li>
            <li>(2022/10) Outstanding post-graduate of Nankai University <span class="badge text-bg-success">6/122</span></li>
            <li>(2021/10) CIE Top 10 Outstanding Paper Award</li>
            <li>(2021/10) Nankai University Gongneng Scholarship</li>
            <li>(2020/10) Nankai University Gongneng Scholarship</li>
            <li>(2019/10) Nankai University Gongneng Scholarship</li>
        </ul>
    </div>

</div>