<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>
    {{ if .IsHome }}
        {{ site.Title }}
    {{ else }}
        {{ printf "%s | %s" .Title site.Title }}
    {{ end }}
</title>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

<link href="{{ "/css/bootstrap.css" | absURL }}" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="{{ "/js/bootstrap.js" | absURL }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="{{ "/js/jquery.js" | absURL }}"></script>

<link rel="icon" type="image/x-icon" src="{{ "favicon.ico" | absURL }}" />

<style>
    body{
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }
    a{
        text-decoration: none;
        color: #B1040E;
    }
    a:hover{
        text-decoration: underline !important;
    }
</style>