<div class="row mb-3">
    <h1>Yaozheng Fang</h1>
</div>
<div class="row">
    <div class="col-md-4 order-md-2">
        <img src="{{ "fyz.jpg" | absURL }}" alt="Yaozheng" class="img-fluid rounded">
        <figcaption class="figure-caption text-end">Chang Tang Nature Reserve, Xizang, China.</figcaption>
    </div>
    <div class="col-md-8 order-md-1">
        <p>
          Aloha there! I am a third year Ph.D. candidate at <a href="https://cc.nankai.edu.cn/" target="_blank">College of Computer Science</a> of <a href="https://www.nankai.edu.cn/" target="_blank">Nankai University</a>, coadvised by <a href="mailto:litao@nankai.edu.cn">Tao Li</a> and <a href="mailto:luye@nankai.edu.cn">Ye Lu</a>. I am affliated with Nankai Intelligent Computing System (ICS) Lab and Xinchuang Haihe Laboratory, Tianjin, China.
        </p>
        <p>
           My research interests include intelligent computing system, computer achitecture, and virtual machine design.
        </p>
        <p>
            Email: <a href="mailto:fyz@mail.nankai.edu.cn">fyz@mail.nankai.edu.cn</a>
        </p>
        <p>
            Links: [<a href="{{ "/pdf/cv_en.pdf" | absURL }}" target="_blank">CV</a>] [<a href="https://scholar.google.com/scholar?hl=en&as_sdt=0%2C5&q=Yaozheng+Fang&btnG=" target="_blank">Google Scholar</a>] [<a href="https://dblp.org/pid/278/2317.html" target="_blank">DBLP</a>]
        </p>
    </div>
</div>

<div class="row">
    <h4>Contributions</h4>
    <div class="col">
        <ul>
            <li>SmartVM: The first smart contract virtual machine that supports fast on-chain DNN computations.</li>
            <li>ATOM: Provides architectural supports to update contract economically and fast executing in instructionwise for the first time.</li>
            <li>FPICR: Provides solutions for smart contract-based access control in internet of things scenarios.</li>
        </ul>
    </div>
</div>

<div class="row">
    <h4>Shows</h4>
    <div class="col">
        <ul>
            <li>(2023/10) Give an invited report about high-performance smart contract architecture @ College of Computer Science, Nankai University. [<a href="{{ "/pdf/1026_slides.pdf" | absURL }}" target="_blank">Slides (zh-cn)</a>] [<a href="{{ "/pdf/1026_poster.pdf" | absURL }}" target="_blank">Poster (zh-cn)</a>]</li>
            <li>(2023/04) Gave a talk about blockchain virtual machine @ National Integrated Circuit Forum, Chongqing, China.</li>
            <li>(2023/02): The work SmartVM is reported @ The 5th China Blockchain Conference, Wuxi, China. [<a href="{{ "/pdf/SmartVM_slides_zh.pdf" | absURL }}" target="_blank">Slides (zh-cn)</a>]</li>
        </ul>
    </div>
</div>