<div class="row mb-3">
    <h1>Yaozheng Fang</h1>
</div>
<div class="row">
    <div class="col-md-4 order-md-2">
        <img src="{{ "fyz.jpg" | absURL }}" alt="Yaozheng" class="img-fluid rounded">
        <figcaption class="figure-caption text-end">Chang Tang Nature Reserve, Xizang, China.</figcaption>
    </div>
    <div class="col-md-8 order-md-1">
        <p>
          Aloha there! I am a third year Ph.D. candidate at <a href="https://cc.nankai.edu.cn/">College of Computer Science</a> of <a href="https://www.nankai.edu.cn/" target="_blank">Nankai University</a>, coadvised by Prof. Tao Li and Ye Lu. I am affliated with Nankai Intelligent Computing System (ICS) Lab.
        </p>
        <p>
           My research interests include intelligent computing system, computer achitecture, and virtual machine design. 
        </p>
        <p>
            Email: <a href="mailto:fyz@mail.nankai.edu.cn">fyz@mail.nankai.edu.cn</a>
        </p>
        <p>
            Links: [<a href="">CV (zh-cn)</a>] [<a href="{{ "/pdf/cv_en.pdf" | absURL }}" target="_blank">CV (en)</a>] [<a href="">Google Scholar</a>] [<a href="https://dblp.org/pid/278/2317.html" target="_blank">DBLP</a>]
        </p>
    </div>
</div>