<div class="row">
    <h2>Industrial experiences</h2>
    <div class="col">
        <ul>
            <li>
                <b>Research intern @ 2012 Research Center of Huawei Technology Co, Ltd.</b>
                <br>
                06/2023 - 08/2023
                <br>
                Focuses on the design and optimizations of the distributed training for MoE-based large models.
                <br>
            </li>
            <br>
            <li>
                <b>Research intern @ Zhejiang Lab</b>
                <br>
                06/2022 - 10/2022
                <br>
                Focuses on the systematical design of blockchain-based trusted distributed computing.
                <br>
            </li>
        </ul>
    </div>
</div>